 
 
 @font-face {
    font-family: NotoSansRegular;
    src: url(../fonts/noto-sans/NotoSans-Regular.ttf);
    }
    @font-face {
      font-family: NotoSansBold;
      src: url(../fonts/noto-sans/NotoSans-Bold.ttf);
      }
      @font-face {
        font-family: NotoSansItalic;
        src: url(../fonts/noto-sans/NotoSans-Italic.ttf);
        }
        @font-face {
          font-family: NotoSansLight;
          src: url(../fonts/noto-sans/NotoSans-Light.ttf);
          }
 
 
 .newEmail {
width:120%;
border-radius: 0px;
margin-left:-10%;
margin-top: 15%;
font-size: 14px;
font-family: NotoSansLight;
}
.newPass {
    width:120%;
    border-radius: 0px;
    margin-left:-10%;
    margin-bottom: 8%;
    font-size: 14px;
    font-family: NotoSansLight;
    }

.form1{
    padding: 50px 180px 35px;

}
.signinbtn{
width:120% !important;
margin-left: -10%;
margin-bottom: 5%;
padding:3% !important;
font-family: NotoSansBold;
background-color: #3e64af;
color:#ffffff ;
border-radius: 0px;
}


.register-link p{
    font-size: 14px;
    font-family:NotoSansRegular;
}

.register-link a{
    color:#3e64af; 
    font-family: NotoSansRegular;
}
.login-logo p{
    font-size: 14px;
    font-family: NotoSansLight;
}








/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    body {
        width: 100%;
       
    }

    .form1 {
        padding: 50px 180px 35px;
    }
}

@media only screen and (max-width: 375px) {
    body {
        width: 100%;
       
    }

    .form1 {
        padding: 50px 100px 35px;
    }
}

@media only screen and (max-width: 414px) {
    body {
        width: 100%;
       
    }

    .form1 {
        padding: 50px 100px 35px;
    }
}